.app-mat-list {
  width: 500px;

  .app-mat-list-header {
    height: 130px;
  }

  .app-mat-list-items {

    .app-mat-list-item {

      .title {

      }

      .range {

      }

      .status {

        .mat-stroked-button {
          line-height: initial;
        }
      }

      .size {

      }

      .updated {

      }
    }
  }

}
