<mat-selection-list #selectionList class="app-mat-list">

  <div class="app-mat-list-header">
    <div mat-subheader>Sources</div>
    <div matLine class="app-sources-actions">

      <!--    New-->
      <button mat-icon-button aria-label="Add one" (click)="addOne()">
        <mat-icon>plus_one</mat-icon>
      </button>

      <!--    Select all-->
      <button mat-icon-button aria-label="Select all" (click)="selectionList.selectAll()">
        <mat-icon>done_all</mat-icon>
      </button>

      <!--    Deselect all-->
      <button mat-icon-button aria-label="Deselect all" (click)="selectionList.deselectAll()">
        <mat-icon>block</mat-icon>
      </button>

    </div>
    <div matLine [hidden]="selectionList.selectedOptions.isEmpty()" class="app-sources-actions">
      <!--    Delete checked-->
      <button mat-icon-button aria-label="Deselect all" (click)="delete(selectionList.selectedOptions)">
        <mat-icon>clear</mat-icon>
      </button>

      <!--    Refresh checked-->
      <button mat-icon-button aria-label="Refresh checked" (click)="refresh(selectionList.selectedOptions)">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>

  <div class="app-mat-list-items">
    <app-source [source]="source"
                (onload)="load($event)"
                class="app-mat-list-item"
                *ngFor="let source of sources$ | async"
    >
      <mat-list-option [value]="source" [disabled]="source.isLoading">
        <mat-icon mat-list-icon>table_chart</mat-icon>

        <h3 matLine class="title"> {{source.title}} </h3>

        <ng-container *ngIf="!source.isLoading; else loading">
          <p matLine class="range">
            <span> {{source.range}} </span>
          </p>

          <p matLine class="status">
            <span class="mat-stroked-button mat-{{source.status}}"> {{source.status}} </span>
          </p>

          <p matLine class="size">
            <span> {{source.size}} </span>
          </p>

          <p matLine class="updated">
            <span> <i>{{source.updatedAt | date}} </i></span>
          </p>
        </ng-container>

        <ng-template #loading>
          loading...
        </ng-template>

      </mat-list-option>

    </app-source>
  </div>

</mat-selection-list>
