<div mat-dialog-content>
  <ol *ngIf="form" [formGroup]="form">
    <li>
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" placeholder="title">
      </mat-form-field>
    </li>
    <li>
      <mat-form-field>
        <mat-label>Range</mat-label>
        <input matInput formControlName="range" placeholder="range">
      </mat-form-field>
    </li>
  </ol>
</div>

<div mat-dialog-actions>
  <button [disabled]="form?.invalid" mat-button [mat-dialog-close]="form?.value">Ok</button>
  <button mat-button (click)="form?.reset()">Reset</button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>


