.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

.sidenav-container {
  flex: 1;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}
