<div id="layout" class="app-layout">

  <div class="app-navbar">
    <ng-content select="app-navbar"></ng-content>
    <router-outlet name="app-navbar"></router-outlet>
  </div>


  <app-sidenav class="app-sidenav">

    <div class="app-sidenav">
      app-sidenav-layout
      <router-outlet name="app-sidenav-actions"></router-outlet>
      <router-outlet name="app-sidenav"></router-outlet>
    </div>

    <div class="app-sidenav-content">
      app-sidenav-content
      <router-outlet name="app-sidenav-content"></router-outlet>
    </div>

  </app-sidenav>

</div>
